<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jju.edu.warehouse_">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/warehouse"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/warehouse"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.xunfang.warehousesecurity.MainActivity"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.xunfang.warehousesecurity.LocationActivity"
                  android:screenOrientation="landscape">
        </activity>
        </application>

    </manifest>